html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Zamezí scrollování na hlavní stránce */
}

#root {
  background-color: #fed2c5;
  height: 100%; /* Nastavit na 100% výšku, ne 100vh */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.app {
  background-color: #ffffff;
  width: 70%;
  height: 90%;
  border-radius: 42px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89%;
  left: 2.5%;
  top: 1%;
  padding-right: 3%;
  padding-left: 3%;
}

.avatar {
  border-radius: 28px;
}
::-webkit-scrollbar {
  display:flow-root;
  overflow: hidden;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}  

.message-board {
  background-color: #f99c71;
  width: 95%;
  position: relative;
  height: 85%;
  left: 2.5%;
  border-radius: 42px;
  top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll; /* Povolit svislý scrollbar */
  overflow-x: hidden; /* Skrýt vodorovný scrollbar */

}
.columnOne {
  width: 32%;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
}
.columnTwo {
  width: 32%;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
}
.columnThree {
  width: 32%;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
}
.column-small-devices {
  display: none;
}
.single-card {
  background-color: #fcf7f1;
  margin: 3%;
  border-radius: 10px;
  width: 94%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.single-card .miniheader {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  border-radius: 10px 10px 0px 0px;

}
.single-card .name {
  color: #acaba9;
  margin-top: 4%;
  margin-bottom: 0%;
}
.single-card .date {
  color: #acaba9;
  margin-top: 4%;
  margin-bottom: 0%;
}
.single-card .message {
  color: #433d39;
  margin: 5% 3% 13% 3%;
  overflow: hidden;
  height: 65%;
  text-align: justify;
}

.add-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
  width: 94%;
  cursor: pointer;
  height: 60px;
}

.add-message p {
  font-size: 200%;
  font-weight: light;
}
.message-form-popup {
  background-color: #ffffff;
  z-index: 3;
  position: fixed;
  width: 70%;
  max-width: 700px;
  height: 20%;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.message-form-popup input {
  background-color: #ececec;
  border: none;
  border-radius: 6px;
}
.message-form-popup button {
  position: absolute;
  top: 10%;
  left: 97%;
  transform: translate(-100%, -0%);
  background-color: transparent;
}
.message-form-popup .input-name{
  position: absolute;
  top: 10%;
  left: 4%;
  height: 13%;
}
.message-form-popup .input-text{
  position: absolute;
  top: 30%;
  left: 4%;
  height: 60%;
  width: 75%;
  background-color: #ececec;
  border: none;
  border-radius: 6px;
}
.message-form-popup .input-submit{
  position: absolute;
  top: 90%;
  left: 81%;
  height: 15%;
  width: 16%;
  transform: translate(-0%, -100%);
  cursor: pointer;
  background-color: #fa9674;
  border-radius: 12px;
  color: #ececec;
}
.type-area {
  visibility: hidden;
}
.closeButton {
  cursor: pointer;
  border: none;
}

@media (max-width: 713px) {
  .app {
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
  }

  h2 {
    margin: 0;
  }

  .message-board {
    position: absolute;
    top: 12%;
    background-color: #f99c71;
    width: 100%;
    height: 88%;
    border-radius: 48px 48px 0 0;
    left: 0;
  }
  .columnOne {
    display: none;
  }
  .columnTwo {
    display: none;  }
  .columnThree {
    display: none;
  }
  ::-webkit-scrollbar {
    display:flow-root;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }  
  .column-small-devices {
    position: relative;
    display: flex; 
    flex-direction: column;
    width: 96%;
    gap: 1%;
    height: 81%;
    justify-content: flex-start;
    padding-top: 1%;
    margin-bottom: 2%;
    overflow:scroll;
    overflow-x: hidden;
  }
  .single-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .single-card .miniheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
  }
  .single-card .name {
    color: #acaba9;
    margin-top: 2%;
  }
  .single-card .date {
    color: #acaba9;
    margin-top: 2%;
  }
  .single-card .message {
    color: #433d39;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    overflow: visible;
    margin-bottom: 3%;
  }
  .add-message {
    display: none;
  }

  .type-area {
    width: 100%;
    height: 15%;
    background-color: #fcf7f1;
    position: absolute;
    top: 85%;
    left: 0;
    border-radius: 38px 38px 0 0;
    visibility: visible;
  }
  .message-form {
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 80%;
    top: 10%;
    border-radius: 38px 38px 0px 0px;
  }
  input {
    background-color: #ececec;
    border: none;
    border-radius: 6px;
  }
  .input-name {
    position: absolute;
    top: 5%;
    left: 6%;
    width: 20%;
    height: 20%;
  }
  .input-text {
    position: absolute;
    top: 35%;
    left: 2.5%;
    height: 55%;
    width: 70%;
    background-color: #ececec;
    border: none;
    border-radius: 6px;
  }
  .input-submit {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 24%;
    height: 45%;
    cursor: pointer;
    background-color: #fa9674;
    border-radius: 12px;
    color: #ececec;
  }
}
